<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<title>forgot password</title>
</head>
<body ng-app="myapp" ng-controller="myctrl">
<form name="uservalid">
<p>
	<label>EMAIL:</label><input type="email" name="emailid" ng-model="emailid" required="required">
	<div>
		 <span style="color:red"  ng-show="uservalid.emailid.$touched && uservalid.emailid.$invalid">
         <span class="glyphicon glyphicon-envelope" ng-show="uservalid.emailid.$error.required">Email is required.</span>
                  
	</div>

</p>
                    <p>

                    <label>PASSWORD:</label><input type="password" name="password" ng-model="password" required="required">
                    <div>
                    <span style="color:red" ng-show="uservalid.password.$touched  && uservalid.password.$invalid">
                        <span class="glyphicon glyphicon-lock" ng-show="uservalid.password.$error.required">password is required.</span>
                      
                      </span>
                     
                      </div>
                      </p>
       <p>
        <label>ConfromPassword:</label><input type="Password" name="forgotpassword" ng-model="forgotpassword" required="required">
        <div>
                 <span style="color:red" ng-show="uservalid.forgotpassword.$touched  && uservalid.forgotpassword.$invalid">
                <span  class="glyphicon glyphicon-lock" ng-show="uservalid.forgotpassword.$error.required">password is required.</span>
                </span>
                 <span style="color:orange" class="glyphicon glyphicon-warning-sign" ng-if="password!=forgotpassword && uservalid.forgotpassword.$touched"> password doesnot match
                 </span>
                 
             </div>
          </p>


<p>
	<input type="submit" value="submit" ng-disabled=" uservalid.emailid.$invalid ||uservalid.password.$invalid ||uservalid.forgotpassword.$invalid" ng-click='subbtn()'>
    </p>

</form>
<script>
	var app=angular.module("myapp",[])
	app.controller("myctrl",function($scope,$http){

     $scope.subbtn=function(){
     $scope.alldetails={email:$scope.emailid,password:$scope.pwd,password:$scope.forgotpassword}

  $http({
                    method: "post",
                    url: "/updatepassword",
                    data: $scope.alldetails,
                }).then(function mySuccess (res) {
                  console.log(res);
                window.location.href="/login";
    
                }, function error(err) {
                  //alert("something went be wrong...please try after something")

                })            
     

     }
	})

</script>
</body>
</html>